.main {
  opacity: 0;
  animation: glow;
  animation-duration: .25s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 1s;
  background-color: transparent;
  pointer-events: all;
}

@keyframes glow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ban {
  z-index: 1939;
  position: absolute;
  pointer-events: all;
  animation: cover;
  animation-delay: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  text-align: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-top: 25vh;
  border: 0;
  transition: 1s all ease;
}

@keyframes cover {
  from {
    pointer-events: all;
  }

  to {
    pointer-events: none;
  }
}

.ezquiz {
  position: absolute;
  pointer-events: none;
  opacity: 1;
  animation: byebye;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@keyframes byebye {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.ezquiz img {
  background-color: transparent;
  width: 45vw;
  height: 45vw;
  overflow: hidden;
  white-space: nowrap;
  opacity: 1;
  filter: brightness(100%);
  transition: .5s ease all;
  animation: flicker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes flicker {
  0% {
    filter: brightness(100%);
  }

  40% {
    filter: brightness(200%);
  }

  60% {
    filter: brightness(200%);
  }

  100% {
    filter: brightness(100%);
  }
}

#text {
  color: black;
  overflow: hidden;
  white-space: nowrap;
  height: 2em;
}