.main {
  opacity: 0;
  animation: glow;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 1s;
  background-color: transparent;
  pointer-events: all;
}

@keyframes glow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ezquiz {
  pointer-events: none;
  font-weight: bold;
  position: absolute;
  opacity: 1;
  animation: load;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 1s;
  font-size: 10em;
}

@keyframes load {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.logo {
  width: 20vw;
  height: 20vw;
  margin-top: 10vw;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  opacity: 1;
  filter: brightness(100%);
  transition: .5s ease all;
}

@keyframes flicker {
  0% {
    filter: brightness(100%);
  }

  40% {
    filter: brightness(200%);
  }

  60% {
    filter: brightness(200%);
  }

  100% {
    filter: brightness(100%);
  }
}