@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #3c3c3c;
  font-weight: bold;
}

button {
  @apply text-white bg-blue-700 disabled:bg-blue-500 disabled:cursor-not-allowed hover:bg-blue-800 disabled:hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 flex flex-row gap-2 justify-center items-center;
}

.code {
  font-family: "Fira Code", 'Courier New', Courier, monospace;
}