@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3c3c3c;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #3c3c3c;
  font-weight: bold;
}

button {
  @apply text-white shadow-lg bg-blue-700 shadow-blue-300 disabled:bg-blue-500 disabled:cursor-not-allowed hover:bg-blue-800 disabled:hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 flex flex-row gap-2 justify-center items-center;
}

.secondary-button {
  @apply py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 shadow-sm focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200;
}

input {
 @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}

.code {
  font-family: "Fira Code", 'Courier New', Courier, monospace;
}

.pill {
  @apply py-2.5 px-5 min-w-8 min-h-4 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200;
}

.pill-interactive {
  @apply py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 cursor-pointer;
}